.product-detail-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .product-info {
    margin-left: 20px;
    flex: 1;
  }
  
  .product-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .product-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .whatsapp-button {
    display: inline-block;
    margin-top: 20px;
  }
  
  .whatsapp-button img {
    width: 50px; /* Adjust size as needed */
    height: auto;
  }
  